.red{
    background-color: red;
}

.b30000{
    background-color: #b30000;
}

.hexadec660000{
    background-color: #660000;
}

.green{
    background-color: green;
}

.hexadec99ff99{
    background-color: #99ff99;
}

.hexadec004d00{
    background-color: #004d00;
}

.blue{
    background-color: blue;
}
 
.ccccff{
    background-color: #ccccff;
}

.hexadec000066{
    background-color: #000066;
}

table, th{
    border: 1px solid black;
    text-align:center;
    }
    td{
        border: 1px solid black;
        text-align:center;
        padding-left: 20px;
        padding-right:20px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

section{
    background-image:url(imagens/Marca_IFSP_2015031.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 140px;
    min-height: 350px;
}

body{
    background-image: url(imagens/1330892.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 80px;
    min-height: 705px;
}