body{
    background-color: lightgray;
    margin: 10px;
}

.headerBackground{
    background-color: gray;
    margin: 10px;
}

Main{
    background-color: gray;
    margin: 10px;
}

.Vermelho{
    background-color: red;
}

.Verde{
    background-color: green;
}

.Azul{
    background-color: blue;
}

.Amarelo{
    background-color: yellow;
}

.Laranja{
    background-color: orange;
}

.BlocoVermelho{
    background-color: rgb(245, 164, 164);
    border: 3px solid red;
    margin: 10px;
}

.BlocoVerde{
    background-color: lightgreen;
    border: 3px solid green;
    margin: 10px;
}

.BlocoAzul{
    background-color: lightblue;
    border: 3px solid blue;
    margin: 10px;
}

.BlocoAmarelo{
    background-color: lightyellow;
    border: 3px solid yellow;
    margin: 10px;
}

.BlocoLaranja{
    background-color: rgb(247, 183, 151);
    border: 3px solid orange;
    margin: 10px;
}
